[Unit]
Description=Factor Client Firmware
After=network.target
Wants=bluetooth.service

[Service]
Type=simple
User=factor
Group=factor
WorkingDirectory=/opt/factor-client
ExecStart=/opt/factor-client/venv/bin/python main.py
ExecStartPre=/bin/systemctl start bluetooth
ExecStartPre=/bin/systemctl enable bluetooth

Restart=always
RestartSec=10
ExecStopPost=/bin/systemctl restart bluetooth
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target